<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 header-tilte">
                <div class="navbar-header">

                    <a class="navbar-brand" href="">
                        <h2 class="portal-title">   ADMIN PORTAL</h2>
                    </a>

                </div>
            </div>
            <div class="col-md-9">
                <div class="navbar-form navbar-right">
                    <div style="position:relative;">

                        <a class="dropdown-toggle-cutsom username-col-white userinfo ng-binding" data-toggle="dropdown" ng-click="$event.preventDefault();">{{db.username}}<i class="glyphicon glyphicon-chevron-down navbar-dropdown custom"></i></a>
                        <img class="user-img img-responsive" src="imgs/user.png">

                        <div class="dropdown-content">
                            <ul class="">
                                <li><a ui-sref="dashboard.change-password" id="changePasswordClick">Change Password</a></li>
                                <li><a ng-click="$event.preventDefault();db.logout();">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</nav>
<script type="text/javascript">
    // navbar drop down script

    $('.navbar-dropdown').click(function () {

        if ($(".navbar-dropdown").hasClass("glyphicon-chevron-down")) {
            $('.dropdown-content').addClass("show-content");
            $(".navbar-dropdown").removeClass("glyphicon-chevron-down");
            $(".navbar-dropdown").addClass("glyphicon-chevron-up");
        }
        else {
            $('.dropdown-content').removeClass("show-content");

            $(".navbar-dropdown").removeClass("glyphicon-chevron-up");
            $(".navbar-dropdown").addClass("glyphicon-chevron-down");
        }

    });
    // close dropdown toggle action on change password button click .

    $('#changePasswordClick').click(function () {
        $('.dropdown-content').removeClass("show-content");

        $(".navbar-dropdown").removeClass("glyphicon-chevron-up");
        $(".navbar-dropdown").addClass("glyphicon-chevron-down");
    })
    //end of function.
</script>
