<section id="sec-email-templates" class="col-md-12">
    <div class="col-md-12 col-xs-12 maincontent">


        <h3 class="m-b-30 p-l-15"> Change Password </h3>

        <form class="" name="changePassword" ng-submit="changePassword.$valid && updatePassword()" novalidate>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 form-label"> Current Password </label>
                <div class="input-group col-xs-12 col-sm-4" title="">

                    <input type="password" id="password" ng-class="{'red_border': (changePassword.$submitted && vm.currentPassword==null) || (vm.error)}" class="form-control input-lg custom-input" ng-model="vm.currentPassword" required>
                    <span ng-if="changePassword.$submitted && vm.currentPassword==null" class="field-validation-error login-validation-error" data-valmsg-for="password" data-valmsg-replace="true"><span for="password" generated="true" class=""> Current password is required</br></span></span>
                    <span ng-if="currentPassword!= oldPasswordError && oldPasswordError != undefined && vm.currentPassword!=null" class="field-validation-error login-validation-error">
                        <span for="password" generated="true" class="">
                            {{oldPasswordError}}
                        </span>

                    </span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 form-label"> New Password </label>
                <div class="input-group col-xs-12 col-sm-4" title="">
                    <input type="password" ng-class="{'red_border': (changePassword.$submitted && vm.newPassword==null) || (vm.error)}" class="form-control input-lg custom-input" ng-model="vm.newPassword" required>
                    <span ng-if="changePassword.$submitted && vm.newPassword==null" class="field-validation-error login-validation-error" data-valmsg-for="password" data-valmsg-replace="true"><span for="password" generated="true" class="">New password is required</span></span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 form-label"> Confirm Password </label>
                <div class="input-group col-xs-12 col-sm-4" title="">
                    <input type="password" ng-class="{'red_border': (changePassword.$submitted && vm.confirmPassword.trim()==null) || (vm.error)}" class="form-control input-lg custom-input" ng-model="vm.confirmPassword" required />
                    <span ng-if="changePassword.$submitted && vm.confirmPassword.trim()==null" class="field-validation-error login-validation-error" data-valmsg-for="password" data-valmsg-replace="true">
                        <span for="password" generated="true" class="">Confirm password is required</span>
                    </span>
                    <span ng-if="vm.confirmPassword.length > 0 && vm.newPassword.trim()!= vm.confirmPassword.trim()" class="field-validation-error login-validation-error">
                        <span>New password and confirm password do not match</span>
                    </span>
                    <span ng-if="newPasswordError != undefined" class="field-validation-error login-validation-error">
                        <span for="password" generated="true" class="">
                            {{newPasswordError}}
                        </span>
                    </span>
                    <span class="notification" ng-if="success" ng-show="true"><span class="glyphicon glyphicon-ok-sign"></span> <span>{{success}}</span></span>
                </div>


            </div>



            <div class="form-group p-l-15">
                <button class="btn btnClass pull-left btn-primary-login " type="submit"> Save</button>
            </div>

        </form>


    </div>
</section>
