<section id="sec-email-templates" class="col-md-12">
    <div class="row paddingBot20Pixel">
        <h3>
            Editing {{contentObj.content_name}}
        </h3>
    </div>
    <!--nest row-->
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 mainEditor">

            <form id="form" name="myform" ng-submit="contentObj.performAction(newContent)" novalidate>
                <textarea summernote height="280" type="text" class="form-control resizeVertical"
                            ng-class="{'red_border':myform.$submitted && (!(myform.Value.$valid))}" name="Value"
                            placeholder="Enter HTML" ng-model="newContent.value" required></textarea>
                  
                <div class="pull-right">
                    <button class="btn btn-primary btnClass" type="submit" ng-disabled="false">Save</button>
                    <button type="button" class="btn btn-secondary btnClass" ng-click="contentObj.cancelContent()">Cancel</button>
                </div>
            </form>

        </div>
    </div>
    
    
    <div id="IsBackToTopEnabled" class="row">
        <a href="" class="pull-right MainbackToTop"> <span class="glyphicon glyphicon-chevron-up MainbackToTopIcon"> </span> </a>
    </div>
</section>