<section id="sec-email-templates" class="col-md-12">
    <div class="panel panel-default">
         <div class="panel-body">
            <h4 class="muted">{{et.result.name}}</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Publish Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in et.result.content track by item.id">
                        <td>{{item.name}}</td>
                        <td>{{item.status}}</td>
                        <!--<td>{{item.publishDate | date: 'M-d-yyyy'}}</td>-->
                        <td>{{item.publishDate }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td align="right" colspan="3"><button class="btn btn-danger">New</button></td>
                    </tr>
                </tfoot>

            </table>
             
        </div>
    </div>
</section>
