<section id="sec-heirarchy" class="col-sm-12 small">
    <div class="row">
        <div class="col-md-5">
            <h3 class="text-left top-margin">Hierarchy </h3>
        </div>
        <div class="col-md-6 col-xs-10">
            <div class="inner-addon right-addon">

                <input id="searchTextBox" type="text" class="form-control" ng-keydown="handleKeyEvents($event)" placeholder="Search (3 character minimum)" ng-model="searchBox.text" ng-change="search(searchBox.text)" autocomplete="off">

            </div>
        </div>
        <div class="col-md-1 col-xs-1 text-right" ng-click="hc.isCollapsed = !hc.isCollapsed">
            <a>
                <i ng-class="{'chevron glyphicon glyphicon-chevron-right': hc.isCollapsed,
                                    'chevron glyphicon glyphicon-chevron-down':!hc.isCollapsed}" ng-click="showSelected()"></i>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left home-icon"><span class="glyphicon glyphicon-home"></span> </div>
            <div class="inline nopadding">
                <ul class="breadcrumb" title="{{hover_brdcm}}">
                    <li ng-if="bread_text.length==0"><a ng-click="toggleRootNode(brdcrm.unique)">{{brdcrm.user}}</a></li>
                    <li ng-if="!db.isCollapsed" ng-repeat="text in bread_text">
                        <a ng-click="toggleBreadCrumb(text)">{{text.label}}</a> <span ng-if="iterateCount > 7 && $index == 1" class="forward-slash"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 hierarchy col-xs-12">
            <div uib-collapse="hc.isCollapsed" class="cust-border padding-10">
                <div class="row">
                    <div class="col-sm-7 cust-offset">
                        <div class="row">
                            <div class="col-sm-12 bottom">
                                <div id="hierarchyVerticalScroll" ng-if="hc.showTree" ivh-treeview="hc.data">

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 right-box">
                        <div class="row">
                            <div class="col-sm-5"><label>Color Scheme: </label></div>
                            <div class="col-sm-7"><div class="color-tag"><div class="box " ng-style="{'background-color':hierarchyRightContentPrimaryColor}"></div><p>P</p> <div class="box " ng-style="{'background-color':hierarchyRightContentSecondaryColor}"></div><p>S</p></div></div>

                        </div>
                        <div class="row">
                            <div class="col-sm-5"><label>Program Name: </label></div>
                            <div class="col-sm-7"><h3 ng-bind-html="hierarchyRightContentCreditUnionName"></h3></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"><label>Primary Logo: </label></div>
                            <div class="col-sm-7"><img class="thumb" src="{{hierarchyRightContentCreditUnionLogo}}" /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"><label>Secondary Logo: </label></div>
                            <div class="col-sm-7"><img class="thumb" src="{{hierarchyRightContentCreditUnionSecondaryLogo}}" /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"><label>Site URL: </label></div>
                            <div class="col-sm-7"><a href="{{hierarchyRightContentCreditUnionURL}}">{{hierarchyRightContentCreditUnionURL}}</a></div>
                        </div>

                    </div>
                </div>
                <div class="row config-btn text-right">
                    <div class="col-sm-6 nopadding">
                        <div id="IsBackToTopHierarchyEnabled">
                            <a href="" class="pull-left backToTop"> <span class="glyphicon glyphicon-chevron-up backToTopIcon"> </span> </a>
                        </div>
                        <button id="configureBtn" ng-disabled="parent.length==0" class="btn btn-sm btnClass marginTop20" ng-click="config_breadcrumb();">Configure</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div ng-controller="modal_controller">

    <div id="{{op}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="myform" ng-submit="action()" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{app.header}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>
                                Name
                            </label>
                            <input type="text" class="form-control" ng-class="{'red_border':myform.$submitted && (!(myform.Name.$valid))}" name="Name" placeholder="Enter here" ng-model="app.name" required />

                            <p ng-if="myform.$submitted && (!(myform.Name.$valid))" class="red"><span class="glyphicon glyphicon-info-sign"></span> Name is required</p>

                        </div>
                        <div ng-if="app.show_value" class="form-group">
                            <label>
                                Value
                            </label>
                            <input type="text" class="form-control" ng-class="{'red_border':myform.$submitted && (!(myform.Value.$valid))}" name="Value" placeholder="Enter here" ng-model="app.value" required />
                            <p ng-if="myform.$submitted && (!(myform.Value.$valid))" class="red"><span class="glyphicon glyphicon-info-sign"></span> Value is required</p>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button class="btn btnClass" data-dismiss="modal">Close</button>
                        <button class="btn btn-col btnClass" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<section></section>


