<section id="sec-heirarchy" class="col-sm-12 small">
    <div class="row">
        <div class="col-md-5">
            <ul class="breadcrumb" style="background-color:#fff;font-size:medium;">
                <li>Heirarchy</li>
                <li>Harvard</li>
                <li>Dashboard</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Search..e.g. PSCU, Harward, CU">
            </div>
        </div>
        <div class="col-md-1">
            <a ng-click="hc.isCollapsed = !hc.isCollapsed">
                <i ng-class="{'glyphicon glyphicon-chevron-right': hc.isCollapsed,
                                    'glyphicon glyphicon-chevron-down':!hc.isCollapsed}" style="top: 10px"></i>
            </a>

        </div>
    </div>


    <!--<script type="text/ng-template" id="myPopoverTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="row">
            <div class="col-sm-5">

                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-minus"></span> Harvard</li>
                    <li>
                        PSCUClientEntityIDs
                        <ul>
                            <li><span class="glyphicon glyphicon-minus"></span> 991132</li>
                            <li><span class="glyphicon glyphicon-minus"></span> 991134</li>
                            <li><span class="glyphicon glyphicon-minus"></span> 991135</li>
                            <li><span class="glyphicon glyphicon-minus"></span> 991143</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-7">
                <h1>ANOTHER COLUMN</h1>
            </div>
        </div>
    </script>-->

    <div class="row">
        <div class="col-md-12">
            <div uib-collapse="hc.isCollapsed">
                <div class="row">
                    <div class="col-sm-5">
                    
                        <div ng-if="hc.showTree" ivh-treeview="hc.data"></div>

                        <!--<ul class="list-unstyled" ng-repeat="item in hirerachy.items">
                            <ul class="list-unstyled" ng-repeat="topLevelNode in item">

                                <span ng-class="{'glyphicon glyphicon-plus': !IsVisible,
                                    'glyphicon glyphicon-minus':IsVisible}" ng-click="ShowHide()"></span> {{topLevelNode.name}}
                                <li ng-show="IsVisible" ng-repeat="childNode in topLevelNode._links">
                                    <span ng-class="{'glyphicon glyphicon-plus': !IsSecondVisible,
                                    'glyphicon glyphicon-minus':IsSecondVisible}" ng-click="ShowHide1()"></span>{{childNode.name}}
                                    <ul ng-show="IsSecondVisible" ng-repeat="subChildNode in childNode._links">
                                        {{subChildNode.name}}
                                        <li class="list-group-item-text" ng-if="subChildNode.name=='Harvard University Employees'">
                                            SYS/PRIN/AGENT
                                            <ul class="list-unstyled"><li>827600000000 (99131)</li></ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </ul>-->
                        <!--<ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-minus"></span> Harvard</li>
                            <li>
                                PSCUClientEntityIDs
                                <ul>
                                    <li><span class="glyphicon glyphicon-minus"></span> 991132</li>
                                    <li><span class="glyphicon glyphicon-minus"></span> 991134</li>
                                    <li><span class="glyphicon glyphicon-minus"></span> 991135</li>
                                    <li><span class="glyphicon glyphicon-minus"></span> 991143</li>

                                </ul>
                            </li>
                        </ul>-->
                    </div>
                    <div class="col-sm-7"></div>
                </div>




            </div>
        </div>

    </div>


</section>
<section></section>


