<section id="sec-left-menu" class="col-sm-12 small">
    <h3 class="text-muted">MENU</h3>
    <uib-accordion>
        <!-- commenting for now as this not part of phase 1 --> 
        <!--<div uib-accordion-group class="panel-default" is-open="status.isDashboard">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-dashboard"></i>
                DASHBOARD
            </uib-accordion-heading>
            <span class="text-info">Customize your dashboard here</span>
        </div>-->
        <div uib-accordion-group class="panel-default" is-open="status.isContentMgmt">
            <uib-accordion-heading>
                <span ng-click="lmc.loadContentGroups(false)">
                    <span class="glyphicon glyphicon-hdd"></span> CONTENT MANAGEMENT
                </span>
                    <i class="pull-right glyphicon"  ng-click="lmc.autoGotoContentViewState()"
                       ng-class="{'glyphicon-chevron-down': status.isContentMgmt, 'glyphicon-chevron-right': !status.isContentMgmt}" id="contentManagementSection"></i>
                
            </uib-accordion-heading>
            <ul class="list-unstyled">
                <li ng-repeat="content in lmc.contentGroupsList.items track by content.id">


                    <a ng-click="lmc.loadContents(content)" id="contentGroup{{content.id}}">{{content.name}}</a>



                </li>
            </ul>
        </div>
        <!--<div uib-accordion-group class="panel-default" is-open="status.isPromotion">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-bullhorn"></i> PROMOTIONS
            </uib-accordion-heading>
            <span class="text-info">Customize your <span class="text-info">PROMOTIONS</span> here</span>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.isSetting">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-bullhorn"></i> SETTINGS
            </uib-accordion-heading>
            <span class="text-info">Customize your <span class="text-info">SETTINGS</span> here</span>
        </div>-->
    </uib-accordion>
</section>