<div class="fge-sidebar-container">
  <nav [ngClass]="{ active: active }" class="fge-sidebar">
    <ng-content select=".fge-sidebar__header"></ng-content>
    <ul class="fge-sidebar__items">
      <li [ngClass]="{ active: isSectionActive('content') }">
        <a
          class="btn-sm fge-clickable"
          *ngIf="!active"
          data-toggle="collapse"
          data-target="#groupsCollapse"
          aria-expanded="false"
          aria-controls="groupsCollapse">
          <span class="fas fa-archive" (click)="goToContentGroups($event)"></span>
          <span class="fge-sidebar__item--title">Content Management</span>
        </a>
        <a
          (click)="goToContentGroups($event)"
          class="btn-sm fge-clickable"
          *ngIf="active"
        >
          <span class="fas fa-archive"></span>
        </a>
      </li>
      <div class="collapse" id="groupsCollapse" *ngIf="!active">
        <div class="fge-sidebar-expand">
          <a
            class="fge-clickable"
            (click)="goToContentGroup(contentGroup.id)"
            tabindex="0"
            *ngFor="let contentGroup of (contentGroups$ | async)"
            >{{ contentGroup.name }}</a
          >
        </div>
      </div>
    </ul>
  </nav>
  <div class="fge-sidebar-content">
    <ng-content></ng-content>
  </div>
</div>
