<div class="fge-sidebar-container">
  <nav [ngClass]="{ active: active }" class="fge-sidebar">
    <ng-content select=".fge-sidebar__header"></ng-content>
    <ul class="fge-sidebar__items">
      <li [ngClass]="{ active: isSectionActive('content') }">
        <a
          class="btn-sm fge-clickable"
          *ngIf="!active"
          data-toggle="collapse"
          data-target="#groupsCollapse"
          aria-expanded="false"
          aria-controls="groupsCollapse">
          <i class="fas fa-archive" (click)="goToContentGroups($event)"></i>
          <span class="fge-sidebar__item--title">Content Management</span>
        </a>
        <a
          (click)="goToContentGroups($event)"
          class="btn-sm fge-clickable"
          *ngIf="active"
        >
          <i class="fas fa-archive"></i>
        </a>
      </li>
      <div class="collapse" id="groupsCollapse" *ngIf="!active">
        <div class="fge-sidebar-expand">
          <a
            class="fge-clickable"
            (click)="goToContentGroup(contentGroup.id)"
            tabindex="0"
            *ngFor="let contentGroup of (contentGroups$ | async)"
            >{{ contentGroup.name }}</a
          >
        </div>
      </div>
      <li [ngClass]="{ active: isSectionActive('promotions') }">
        <a (click)="goToPromotions()" class="btn-sm fge-clickable">
          <i class="fas fa-bullhorn"></i>
          <span class="fge-sidebar__item--title">Promotions</span>
        </a>
      </li>
      <li [ngClass]="{ active: isSectionActive('campaings') }">
        <a (click)="goToCampaings()" class="btn-sm fge-clickable">
          <i class="fas fa-gift"></i>
          <span class="fge-sidebar__item--title">Campaings</span>
        </a>
      </li>
      <li [ngClass]="{ active: isSectionActive('user') }">
        <div class="collapse" id="userCollapse" *ngIf="!active">
          <div class="fge-sidebar-expand">
            <a class="fge-clickable" tabindex="0" (click)="goToUsersManagement()">
              <i class="fas fa-user"></i>
              Users Management
            </a>
            <a class="fge-clickable" tabindex="0" (click)="goToUserRoles()">
              <i class="fas fa-users"></i>
              Roles Management
            </a>
          </div>
        </div>
      </li>
      <li [ngClass]="{'active': isSectionActive('user')}">
        <a
          class="btn-sm fge-clickable"
          *ngIf="!active"
          data-toggle="collapse"
          data-target="#userCollapse"
          aria-expanded="false"
          aria-controls="userCollapse">
          <i class="fas fa-user" (click)="goToUsersManagement()"></i>
          <span class="fge-sidebar__item--title">Users</span>
        </a>
        <a (click)="goToUsersManagement()" class="btn-sm fge-clickable" *ngIf="active">
          <i class="fas fa-user"></i>
        </a>
      </li>
      <li [ngClass]="{ active: isSectionActive('report') }">
        <a
          class="btn-sm fge-clickable"
          *ngIf="!active"
          data-toggle="collapse"
          data-target="#collapseReport"
          aria-expanded="false"
          aria-controls="collapseReport"
        >
          <i class="fas fa-archive" (click)="goToReports($event)"></i>
          <span class="fge-sidebar__item--title">Reports</span>
        </a>
        <a
          (click)="goToReports($event)"
          class="btn-sm fge-clickable"
          *ngIf="active"
        >
          <i class="fas fa-archive"></i>
        </a>
      </li>
      <div class="collapse" id="collapseReport" *ngIf="!active">
        <div class="fge-sidebar-expand">
          <a class="fge-clickable" (click)="goToReports($event)">
            Audit Reports
          </a>
        </div>
      </div>
      <li [ngClass]="{ active: isSectionActive('settings') }">
        <a (click)="goToSettings()" class="btn-sm fge-clickable">
          <i class="fas fa-cog"></i>
          <span class="fge-sidebar__item--title">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="fge-sidebar-content">
    <ng-content></ng-content>
  </div>
</div>
