.fge-bread-crumb {
    padding: 0 1rem;
    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: initial;
        .badge {
            font-size: 85%;
        }
        a {
            color: white;
        }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        color: white; 
    }
}
