.fge-content-html-editor {
  .content-version{
    padding: 1rem 0 0 0;
    text-align: right;
    &.edited span::after {
      content: '*';
    }
  }
}
.modal-html-content-form .modal-dialog{
  max-width: 80%;
}

.modal-html-image-form .modal-dialog{
  max-width: 60%;
}


.cke_reset :not(.cke_maximized) .cke_contents {
  height: calc(100vh - 280px) !important;

}
