.fge-content-html-editor {
  .content-version{
    padding: 1rem 0 0 0;
    text-align: right;
    &.edited span::after {
      content: '*';
    }
  }
}
.modal-html-content-form .modal-dialog{
  max-width: 80%;
}

