.fge-content-type__color {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  padding: 0px;
}

.fge-content-type__image {
  width: 20px;
  height: 20px;
  border-radius: 2px;

  img {
    max-width: 20px;
    max-height: 20px;
  }
}

.fge-content-type__text, .fge-content-type__html, .fge-content-type__logo, .fge-content-type__document {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid;

  i {
    padding: 4px;
  }
}

.fge-content-type__html i {
  padding: 2px;
}

.fge-content-type__logo i {
  padding: 3px;
}

.fge-content-type__document i {
  padding: 0 5px;
  margin-top: -1px;
}

.fge-group--title, .fge-groups--title {
  padding: 10px 0;
  display: flex;
}

.fge-groups--content {
  .card {
    max-width: 250px;
    min-width: 250px;
    margin: 15px;
  }
}

.fge-group--content-list {
  font-size: 0.765625rem;
}

.fge-group--btn-group-toggle {
  padding: 5px;
}
