.fge-content-inline-editor {
  .dropdown-item {
    width: 200px;
    word-wrap: break-word;
    white-space: normal;

  }
  .dropdown-item::first-letter{
    text-transform: capitalize;
  }
  .content-version{
    padding: 5px 0 0 0;
  }
  .content-version.edited span::after {
    content: '*';
  }
  .col-form-label {
    line-height: 2.5;
  }
}
