.fge-dynamic-inline-form {
  .fge-dynamic-inline-form__button { 
    position: absolute;
    width: unset;
    padding: 0;
    right: 0;
    top: 5px;
    margin-right: 25px;
    padding-bottom: 15px;
    height: 100%;
  }
  .fge-dynamic-form__input {
    padding-right: 80px;
  }
  .fge-dynamic-inline-form__src { 
    position: absolute;
    width: 160px;
    right: 98px;
    top: 14px;
    background-color: white;
  }
}
