.fge-dynamic-form__button {
  height: 100%;
  border-radius: 0px;
  letter-spacing: -0.5px;
  cursor: pointer;
  outline: 0;
  line-height: 1;
  text-align: center;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 2px;
  display: inline-block;
  border: none;
  color: #fff;
  transition: background-color .3s, box-shadow .3s;

  &:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.2) !important;
    color: rgba(0, 0, 0, 0.4) !important;
    pointer-events: none;
    box-shadow: none;
  }
}

.fge-dynamic-form__input {
  height: 100%;
  border-radius: 0px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  border: $border-box-light-grey;
  outline: none;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.fge-dynamic-form__html {
  @extend .fge-dynamic-form__input;
  padding: 0;
  .ql-container {
    height: 200px;
  }
}

.fge-dynamic-form__select {
  height: 100%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.7);
  border: $border-box-light-grey;
  width: 100%;
  outline: none;
  background:
    linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.7) 50%)
      no-repeat calc(100% - 20px) calc(1em + 4px),
    linear-gradient(135deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%)
      no-repeat calc(100% - 15px) calc(1em + 4px);
  background-size: 5px 5px, 5px 5px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.fge-dynamic-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  >label {
    width: 25%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 10px;
    color: $color-text-black;
  }
}

.fge-dynamic-form__button--non-selected {
  border: $border-box-light-grey;
  background: #fff;
  color: $color-text-black;
  font-weight: 400;
}

.fge-dynamic-form--error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 14px;
  color: #dc3545;
}

.fge-dynamic-inline-form__button { 
  margin-left: -15%;
}

.fge-dynamic-form--success {
  margin-left: 25%
}

.thumb {
  max-width: 100%;
  max-height: 70px;
}

.cust-icon-width {
  max-width: 15px;
}
