.fge-dynamic-inline-form__button { 
  position: absolute;
  width: unset;
  padding: 0;
  z-index: 3;
  right: 0;
  top: 5px;
  margin-right: 25px;
  padding-bottom: 15px;
  height: 100%;
}

.fge-dynamic-form--success {
  margin-left: 25%
}

.fge-dynamic-inline-form {
  .bs-tooltip-right .arrow::before {
    border-right-color: lightgray;
  }
  
  .tooltip-inner{
    background-color: white;
    border: $border-box-light-grey;
  }
}
