.fge-datepicker--day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.fge-datepicker--day.focused {
  background-color: #e6e6e6;
}
.fge-datepicker--day.range, .fge-datepicker--day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.fge-datepicker--day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
