$sidebar-bg-color: #F5F5F5;
$sidebar-item-selected: #E6E6E6;
$sidebar-item-color: #333333;
$sidebar-border-color: #ccc;

.fge-sidebar-container {
  display: flex;
  align-items: stretch;
}

.fge-sidebar {
  position: sticky;
  top: 43px;
  min-height: calc(100vh - 43px);
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 200px;
  max-width: 200px;
  background: $sidebar-bg-color;
  box-sizing: border-box;
  border-right: 1px solid $sidebar-border-color;
  transition: all 0.3s;
}

.fge-sidebar.active {
  min-width: 45px;
  max-width: 45px;
  text-align: center;
}

.fge-display-expanded {
  img {
    max-width: 160px;
    max-height: 50px;
  }
}

.fge-sidebar.active .fge-sidebar__header .fge-display-expanded {
  display: none;
}

.fge-sidebar.active .fge-sidebar__header .fge-display-collapsed {
  display: block;
}

.fge-sidebar .fge-sidebar__header .fge-display-collapsed {
  display: none;
}

.fge-sidebar.active span.fge-sidebar__item--title {
  display: none;
}

.fge-sidebar ul li a {
  text-align: left;
  padding: 10px;
  display: block;
}

.fge-sidebar.active ul li a {
  padding: 7px 0px;
  text-align: center;
}

.fge-sidebar.active .fge-sidebar__header{
  padding: 10px 0 !important;
}

.fge-sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  margin-bottom: 5px;
}

.fge-sidebar.active ul ul a {
  padding: 10px !important;
}

.fge-sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.fge-sidebar .fge-sidebar__header {
  padding: 20px;
  background: $sidebar-bg-color;
  border-bottom: 1px solid $sidebar-border-color;
}

.fge-sidebar ul.fge-sidebar__items {
  padding: 0px;
  color: $sidebar-item-color;
  a {
    color: $sidebar-item-color;
  }
}

.fge-sidebar ul li a:hover {
  background: $sidebar-item-selected;
}

.fge-sidebar ul li a i {
  margin-right: 10px;
}

.fge-sidebar ul li.active>a,
a[aria-expanded="true"] {
  background: $sidebar-item-selected;
}

.fge-sidebar__items.fge-sidebar__items--bottom {
  border-top: 1px solid $sidebar-border-color;
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  li {
    width: 45px;
    background-color: $sidebar-item-selected;
    border-right: 1px solid $sidebar-border-color;
  }
  i {
    margin: 5px !important;
  }
}

.right-aligned-action {
  width: 200px;
  list-style: none;
  li {
    margin-left: 155px;
    transition: all 0.3s;
  }
}


/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
.fge-sidebar-content {
  width: 100%;
  padding: 0 20px;
  transition: all 0.3s;
}

.fge-sidebar-expand {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex: 1 1 auto;
  padding: 10px 20px;
  font-size: 12px;
  a {
    color: #035587 !important;
  }
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  .fge-sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
  }
  .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
  .fge-sidebar.active {
      margin-left: 0 !important;
  }
  .fge-sidebar .fge-sidebar__header h3 {
      display: none;
  }
  .fge-sidebar .fge-sidebar__header strong {
      display: block;
  }
  .fge-sidebar ul li a {
      padding: 20px 10px;
  }
  .fge-sidebar ul li a i {
      margin-right: 0;
      display: block;
  }
  .fge-sidebar ul ul a {
      padding: 10px !important;
  }
  .fge-sidebar {
      margin-left: 0;
  }
  .fge-sidebar__items--bottom {
    display: none;
  }
}
