<div class="input-group input-group-sm fge-search__input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <input
    #inputName
    type="text"
    placeholder="Search application..."
    class="form-control"
    [(ngModel)]="search"
    (keyup)="onValueChanges($event)"
    (focusin)="onFocusInput($event)"
    (blur)="onFocusOutInput($event)">
  <div class="fge-search-application--results" [ngClass]="{'d-block': openResults}">
    <div *ngIf="search?.length < 3; then searchWarn; else searchContent">
    </div>
  </div>
</div>

<ng-template #searchWarn>
  <div class="px-3">
    <small><i class="fas fa-exclamation-circle"></i> Requires at least 3 characters</small>
  </div>
</ng-template>

<ng-template #searchContent>
  <div class="text-center" *ngIf="loading$ | async; else applicationList">
    <i class="fas fa-circle-notch fa-spin"></i>
  </div>
</ng-template>

<ng-template #applicationList>
  <div class="list-group list-group-flush fge-search__list-group">
    <a
      tabindex="0"
      [href]="getApplicationLink(application)"
      *ngFor="let application of items$ | async; index as i"
      class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1" fgeHighlightSearch [keyword]="search">{{ getApplicationName(application) }}</h6>
        <small fgeHighlightSearch [keyword]="search">{{ getApplicationValue(application) }}</small>
      </div>
      <small fgeHighlightSearch [keyword]="search">{{getApplicationPath(application)}}</small>
    </a>
  </div>
</ng-template>