<div class="fge-user--permissions-container">
  <div class="fge-table table-hover">
    <div class="row m-0 fge-table__header">
      <div class="col fge-table__col">
        Section
      </div>
    </div>
    <ng-container *ngFor="let section of permissions?.items; trackBy: trackBySectionId">
      <div class="row fge-table__row m-0">
        <div class="col fge-table__col d-flex justify-content-between" (click)="onClickPermissionSection($event, section)">
          {{section.name}}
          <i class="fas fa-lg" [ngClass]="{'fa-caret-right': !section.opened, 'fa-caret-down': section.opened}"></i>
        </div>
      </div>
       <ng-container *ngIf="section.opened" >
          <div class="row fge-table__row m-0 fge-clickable" *ngFor="let permission of section?.permissions">
            <div class="col fge-table__col d-flex justify-content-between px-5" (click)="onClickPermissionItem($event, permission)">
              {{permission.name}}
              <input type="checkbox" [ngModel]="permission.isAssigned">
            </div>
          </div>
      </ng-container>
    </ng-container>
  </div>
</div>