<div
  class="fge-dynamic-field form-input"
  [formGroup]="group">
  <label>{{ config.label }}</label>
  <input
    type="color"
    pattern="#[a-f0-9]{6}"
    class="form-control fge-dynamic-form__input--color"
    [attr.placeholder]="config.placeholder"
    [formControlName]="config.name">
  <div class="invalid-feedback">
    <div *ngFor="let validator of getObjectKeys(config?.validation)">
      <span *ngIf="hasErrorFor(validator)">
        {{ config?.validation[validator].errorMsg }}
      </span>
    </div>
  </div>
</div>