<div
  class="form-group row fge-dynamic-field form-input"
  [formGroup]="group">
  <label class="col-3 col-form-label fge-dynamic-form__label" title="{{config.label}}">{{ config.label }}</label>
  <div class="col-9">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" [style.backgroundColor]="currentColor"></span>
      </div>
      <input
        [colorPicker]="currentColor"
        cpOutputFormat="hex"
        cpPosition="right"
        cpPositionOffset="1%"
        [ngClass]="{ 'is-invalid': hasError() }"
        [value]="currentColor"
        (cpInputChange)="group.get(config.name).setValue($event.color)"
        (cpSliderChange)="group.get(config.name).setValue($event.color)"
        class="form-control fge-dynamic-form__input"
        maxlength="7"
        [formControlName]="config.name">
    </div>
  </div>
  <div class="offset-3 col-9 invalid-feedback"
    [ngClass]="{ 'd-block': hasError() }">
    <span *ngFor="let validator of getObjectKeys(config?.validation)">
      <span *ngIf="hasErrorFor(validator)">
        {{config?.validation[validator].errorMsg}}
      </span>
    </span>
  </div>
</div>