<h6>Users in Role</h6>

<div class="row ">
  <div class="col">
    <h6 class="text-center">Users to Add</h6>
    <div class="fge-table">
      <div class="row m-0 fge-table__header">
        <div class="col fge-table__col">
          Username
        </div>
        <div class="col fge-table__col">
          First Name
        </div>
        <div class="col fge-table__col">
          Last Name
        </div>
        <div class="col fge-table__col">
          Application
        </div>        
        <div class="col-1 fge-table__col fge-table--actions">
          Actions
        </div>
      </div>
      <div class="row fge-table__row m-0">
        <div class="col fge-table__col">klozano</div>
        <div class="col fge-table__col">Kenji</div>
        <div class="col fge-table__col">Lozano</div>
        <div class="col fge-table__col">Hinda</div>
        <div class="col-1 fge-table__col fge-table--actions">
          <button
            type="button"
            class="btn btn-sm btn-secondary bg-secondary">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h6 class="text-center">Users Added</h6>
    <div class="fge-table">
      <div class="row m-0 fge-table__header">
        <div class="col fge-table__col">
          Role Name
        </div>
        <div class="col-1 fge-table__col fge-table--actions">
          Actions
        </div>
      </div>
    </div>
  </div>
</div>
