<div class="row ">
  <div class="col">
    <div class="fge-table">
      <div class="row m-0 fge-table__header">
        <div class="col fge-table__col">
          Username
        </div>
        <div class="col fge-table__col">
          First Name
        </div>
        <div class="col fge-table__col">
          Last Name
        </div>
        <div class="col fge-table__col">
          Application
        </div>        
        <div class="col-1 fge-table__col fge-table--actions">
          Actions
        </div>
      </div>
      <ng-container *ngFor="let user of users$ | async; trackBy: trackByUserId">
        <div class="row fge-table__row m-0" *ngIf="!isUserSelected(user)">
          <div class="col fge-table__col">{{user.login}}</div>
          <div class="col fge-table__col">{{user.firstName}}</div>
          <div class="col fge-table__col">{{user.lastName}}</div>
          <div class="col fge-table__col">{{ user.applicationPath | fgeApplicationPath }}</div>
          <div class="col-1 fge-table__col fge-table--actions">
            <ng-container [ngTemplateOutlet]="usersToAddActions" [ngTemplateOutletContext]="{ 'user': user }" ></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col">
    <div class="fge-table">
      <div class="row m-0 fge-table__header">
        <div class="col fge-table__col">
          Role Name
        </div>
        <div class="col-1 fge-table__col fge-table--actions">
          Actions
        </div>
      </div>
      <div class="row fge-table__row m-0" *ngFor="let user of selectedUsers; trackBy: trackByUserId">
        <div class="col fge-table__col">{{user.login}}</div>
        <div class="col fge-table__col">{{user.firstName}}</div>
        <div class="col fge-table__col">{{user.lastName}}</div>
        <div class="col fge-table__col">{{ user.applicationPath | fgeApplicationPath }}</div>
        <div class="col-1 fge-table__col fge-table--actions">
          <ng-container [ngTemplateOutlet]="usersAddedActions" [ngTemplateOutletContext]="{ 'user': user }" ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #usersToAddActions let-user="user">
  <button
    type="button"
    class="btn btn-sm btn-secondary bg-secondary"
    (click)="onAddUserClicked($event, user)">
    <i class="fas fa-plus"></i>
  </button>
</ng-template>

<ng-template #usersAddedActions let-user="user">
  <button
    type="button"
    class="btn btn-sm btn-secondary bg-secondary"
    (click)="onRemoveUserClicked($event, user)">
    <i class="fas fa-trash"></i>
  </button>
</ng-template>
