<div 
  class="form-group row fge-dynamic-field form-input" 
  [formGroup]="group">
  <label class="col-3 col-form-label">{{ config.label }}</label>
  <div class="col-9">
    <input
      type="password"
      ngbAutofocus
      fgeFocusInput [focus]="config?.focus"
      class="form-control fge-dynamic-form__input"
      [ngClass]="{ 'is-invalid': hasError() }"
      [attr.placeholder]="config?.placeholder"
      [formControlName]="config?.name">
  </div>
  <div class="offset-3 col-9 invalid-feedback"
    [ngClass]="{ 'd-block': hasError() }">
    <span *ngFor="let validator of getObjectKeys(config?.validation)">
      <span *ngIf="hasErrorFor(validator)">
        {{config?.validation[validator].errorMsg}}
      </span>
    </span>
  </div>
</div>
