<div 
  class="fge-dynamic-field form-input" 
  [formGroup]="group">
  <label>{{ config.label }}</label>
  <div class="col pr-0">
    <input
      type="password"
      [ngClass]="{ 'is-invalid': hasError() }"
      class="form-control fge-dynamic-form__input"
      [attr.placeholder]="config?.placeholder"
      [formControlName]="config?.name">
    <div class="invalid-feedback">
      <span *ngFor="let validator of getObjectKeys(config?.validation)">
        <span *ngIf="hasErrorFor(validator)">
          {{config?.validation[validator].errorMsg}}
        </span>
      </span>
    </div>
  </div>
</div>