<div class="fge-change-password-container container">
    <h3>Change Password</h3>
    <form [formGroup]="changePasswordForm" class="col-12">
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-3 col-form-label">Current Password</label>
            <input type="password" formControlName="currentPassword" class="form-control col-12 col-sm-7 col-md-5">
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-3 col-form-label">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control col-12 col-sm-7 col-md-5">
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-3 col-form-label"> Confirm New Password</label>
            <input type="password" formControlName="confirmNewPassword" class="form-control col-12 col-sm-7 col-md-5">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>