<div class="fge-change-password-container container-fluid">
    <h3>Change Password</h3>
    <form [formGroup]="changePasswordForm" class="col-12" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-4 col-lg-3 col-form-label">Current Password</label>
            <input type="password" formControlName="currentPassword" class="form-control col-12 col-sm-7 col-md-5 col-lg-4" [ngClass]="{ 'is-invalid': currentPassword.invalid && currentPassword.touched }">
            <span *ngIf="currentPassword.invalid && currentPassword.touched" class="col-12 col-sm-7 col-md-5 col-lg-4 offset-sm-5 offset-md-4 offset-lg-3 invalid-feedback">It is required</span>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-4 col-lg-3 col-form-label">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control col-12 col-sm-7 col-md-5 col-lg-4" [ngClass]="{ 'is-invalid': newPassword.invalid && newPassword.touched }">
            <div *ngIf="newPassword.invalid && newPassword.touched" class="col-12 col-sm-7 col-md-5 col-lg-4 offset-0 offset-sm-5 offset-md-4 offset-lg-3 invalid-feedback">
                <span *ngIf="newPassword.errors?.required">It is required</span>
                <span *ngIf="newPassword.errors?.minlength">New password needs to be at least 6 characters</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-5 col-md-4 col-lg-3 col-form-label"> Confirm New Password</label>
            <input type="password" formControlName="confirmNewPassword" class="form-control col-12 col-sm-7 col-md-5 col-lg-4" [ngClass]="{ 'is-invalid': confirmNewPassword.invalid && confirmNewPassword.touched }">
            <div *ngIf="confirmNewPassword.invalid && confirmNewPassword.touched" class="col-12 col-sm-7 col-md-5 col-lg-4 offset-sm-5 offset-md-4 offset-lg-3 invalid-feedback">
                <span *ngIf="confirmNewPassword.errors?.required">It is required</span>
                <span *ngIf="confirmNewPassword.errors?.checkPasswords">New Password needs to be at least 6 characters</span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>