.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60vw;
  background-color: grey;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  /* left: 100%; */
  margin-left: -20vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.first {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #b6c0c8;
}
.link {
  color: #b6c0c8;
}
.last {
  color: #808080;
}
