.sidebar-arrows{
	padding-left: 3px;
	font-size: 25px;
	background: #31506A;
	border-radius: 0px 8px 8px 0px;
	width: 29px;
	height: 42px;
	color: white;
}

.rndcustomize{
	display: flex !important;
	align-items: start;
	justify-content: center;
	background: #31506A;
	z-index: 1300;
	top: 35px !important;
	left: 35px !important;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header3{
   padding-top: 130px
}

.closeDetachedSidebar{
  font-size: 20px;
  background: #31506A;
  border-radius: 0px 8px 8px 0px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  position: absolute;
  right: -25px;
  top: 20px;
}


