<div class="fge-content-image-gallery">
  <div class="image-container">
    <div class="content-panel">
      <h5 *ngIf="conentGroups && conentGroups.length">Content groups:</h5>
      <div
        *ngFor="let item of conentGroups"
        [ngClass]="{ active: item.active, disableClick: isLoading }"
      >
        <span (click)="onContentClick(item)">{{ item.name }}</span>
      </div>
    </div>
    <div *ngIf="!isLoading" class="image-panel-container">
      <div>
        <div class="modal-header">
          <h4>Select an Image form contents</h4>
        </div>
        <div class="image-panel">
          <div *ngFor="let item of images" (click)="onImageSelection(item)" [ngClass]="{ active: item.active }">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path class="bg" d="M21 3H3v18h18V3zM10 17l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
            </svg>
            <div class="image-tile" >
              <img alt="" class="img" [src]="item.value" />
            </div>
            <span>{{ item.name }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="images?.length == 0" style="padding: 20px">
        <h5>No Images available for the content group.</h5>
      </div>
      <div class="modal-footer">
        <div class="fge-dynamic-field form-button">
          <button
            class="fge-dynamic-form__button btn-primary bg-secondary ml-auto"
            (click)="handleCancel(true)"
          >
            Insert
          </button>
          <button
            type="button"
            (click)="handleCancel(false)"
            class="fge-dynamic-form__button btn-secondary ml-2"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="loading-container">
      <div class="fge-spinner">
        <div class="fge-bounce1"></div>
        <div class="fge-bounce2"></div>
        <div class="fge-bounce3"></div>
      </div>
    </div>
  </div>
</div>
