.image-container{
    padding: 10px 25px 10px 25px;
    min-height: 200px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .content-panel{
        width: 200px;
        float: left;
        display: flex;
        flex-direction: column;
        border-right: 1px solid;
        flex-wrap: wrap;
        row-gap: 20px;

        strong{
          cursor: pointer;
        }
        .active{
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.075);
        }
    }
    .image-panel{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 30px;

    .active{
        background-color: rgba(0, 0, 0, 0.075);
      }
    .img{
        width: 150px;
      }
    }
}

.fge-spinner {
  margin-right: 200px;
  div{
  background-color: #000000 !important;
  }
} 
