<p>
  test
</p>

<div class="image-container">
<div class="content-panel">
<div *ngFor="let item of conentGroups;" >
  <strong (click)="onContentClick(item)">{{item.name}}</strong>
</div>
</div>
<div class="image-panel">
<div *ngFor="let item of images;" (click)="onImageSelection(item)" [ngClass]="{'active': item.active}">
<img class="img" [src]="item.value" name="{{item.name}}"/>
</div>
</div>
</div>



 <div class="modal-footer">
  <button class="btn btn-secondary" (click)="handleCancel(true)">
        Save
      </button>
      <button class="btn btn-secondary" (click)="handleCancel(false)">
        Close
      </button>
    </div>
