.journal-scroll::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(123,151,158,.25);

}
.journal-scroll::-webkit-scrollbar:hover{

    height: 10px;
    width: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(123,151,158,.25);
    border: 1px solid #7295a1;

}
.journal-scroll::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(123,151,158,.25);
}
.journal-scroll::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(123,151,158,.25);
}
