<ng-template #modalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span *ngIf="mode === 'CREATE'">New Content Group</span>
      <span *ngIf="mode === 'EDIT'">Edit Content Group</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <fge-dynamic-form
        [fieldsConfig]="config"
        #form="fgeDynamicForm"
        (onsubmit)="onSubmit($event)"
        (oncancel)="handleCancel($event)">
    </fge-dynamic-form>
  </div>
</ng-template>
