<ng-template #modalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span *ngIf="mode === 'CREATE'">New Content Group</span>
      <span *ngIf="mode === 'EDIT'">Edit Content Group</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit(c)">
      <div class="form-group">
        <label for="groupName">Name</label>
        <input ngbAutofocus [disabled]="loading" type="text" formControlName="name" id="groupName" class="form-control"
          placeholder="Group name" [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }">
        <div *ngIf="submitted && formControls.name.errors" class="invalid-feedback">
          <div *ngIf="formControls.name.errors.required">Name is required</div>
          <div *ngIf="formControls.name.errors.minlength">Name must be at least 3 characters</div>
          <div *ngIf="formControls.name.errors.duplicated">A content group with the specified name already exists</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading || formControls.name.errors" type="submit" class="btn btn-primary bg-primary" (click)="onSubmit(c)">
      <span *ngIf="mode === 'CREATE'">Create</span>
      <span *ngIf="mode === 'EDIT'">Save</span>
      <i *ngIf="loading" class="fas fa-circle-notch fa-spin px-1"></i>
    </button>
    <button [disabled]="loading" type="button" class="btn btn-secondary" (click)="d('Cancel')">Cancel</button>
  </div>
</ng-template>
