<form
  class="dynamic-form"
  [formGroup]="form"
  (submit)="handleSubmit($event)">
  <ng-container
    *ngFor="let field of config;"
    fgeDynamicField
    [config]="field"
    [group]="currentForm">
  </ng-container>
  <div class="form-group" *ngIf="errors">
    <div class="fge-dynamic-form--error" *ngFor="let error of errors">
      <span class="fas fa-exclamation-circle pr-1"></span>
      {{ error }}
    </div>
  </div>
  <div class="fge-dynamic-field form-button">
    <button
      class="fge-dynamic-form__button btn-primary bg-secondary ml-auto"
      type="submit"
      (click)="handleSaveAction($event)"
      [disabled]="loadingAsyncResponse">
      Save
      <span *ngIf="loadingAsyncResponse" class="fas fa-circle-notch fa-spin px-1"></span>
    </button>
    <button
      type="button"
      class="fge-dynamic-form__button btn-secondary fge-dynamic-form__button--cancel ml-2"
      (click)="handleCancel($event)"
      [disabled]="loadingAsyncResponse">
      Cancel
    </button>
  </div>
</form>