<div 
  class="fge-dynamic-field form-input" 
  [formGroup]="group">
  <label *ngIf="config.label">{{ config.label }}</label>
  <div class="col pr-0 fge-dynamic-form__html" 
    [ngClass]="{'pl-0': !config.label, 'is-invalid': hasError()}">
    <div class="form-control"
      [ngClass]="{ 'is-invalid': hasError() }"
      [ngxSummernote]="configSummernote"
      [formControlName]="config?.name">
    </div>
    <div class="invalid-feedback">
      <div *ngFor="let validator of getObjectKeys(config?.validation)">
        <span *ngIf="hasErrorFor(validator)">
          {{config?.validation[validator].errorMsg}}
        </span>
      </div>
    </div>
  </div>
</div>
