
<div class="pt-5">
  <h4 class="text-center">
    <i class="fas fa-3x fa-exclamation-circle"></i><br/>
    The content that you're looking for doesn't exists or has been removed for this application.</h4>
  <p class="text-center">Please try again later, if the problem persit please contact your System Administrator.</p>
  <p class="text-center font-italic">
    If you want to continue setting up your application go to: <br/>
    <a class="fge-clickable" tabindex="0" (click)="goToContentManagement()">
      <i class="fas fa-archive pr-1"></i>Content Management
    </a>
  </p>
</div>
