<div 
  class="form-group row fge-dynamic-field form-select"
  [formGroup]="group">
  <label class="col-3 col-form-label">{{ config.label }}</label>
  <div class="col-9">
    <select
      [formControlName]="config.name"
      [ngClass]="{ 'is-invalid': hasError() }"
      class="form-control fge-dynamic-form__select">
      <option *ngIf="!config.value" value="">{{ config.placeholder }}</option>
      <option [value]="option" *ngFor="let option of config.options">
        {{ option }}
      </option>
    </select>
  </div>
  <div class="offset-3 col-9 invalid-feedback"
    [ngClass]="{ 'd-block': hasError() }">
    <span *ngFor="let validator of getObjectKeys(config?.validation)">
      <span *ngIf="hasErrorFor(validator)">
        {{config?.validation[validator].errorMsg}}
      </span>
    </span>
  </div>
</div>