<div class="fge-group--title row">
  <h4 class="my-2 col-10">
    <span *ngIf="loading$ | async" class="fas fa-circle-notch fa-spin"></span>
    Content Groups
    <div class="btn-group btn-group-toggle fge-group--btn-group-toggle"
      ngbRadioGroup name="radioBasic" [(ngModel)]="displayMode"
      (ngModelChange)="updatePreference($event)">
      <label ngbButtonLabel class="btn-secondary bg-secondary btn-sm">
        <input ngbButton type="radio" value="list">
        <span class="fas fa-list-ul"></span>
      </label>
      <label ngbButtonLabel class="btn-secondary bg-secondary btn-sm">
        <input ngbButton type="radio" value="grid">
        <span class="fas fa-th"></span>
      </label>
    </div>
  </h4>
  <div class="col text-right align-self-center">
    <button
      type="button"
      class="btn btn-sm btn-secondary bg-secondary"
      (click)="groupFormModal.open()">
      Add Group
      <span class="fas fa-folder-plus fa-lg pl-1"></span>
    </button>
  </div>
</div>
<div *ngIf="displayMode === 'grid'; then gridView; else listView"></div>

<ng-template #listView>
  <table aria-label="Content Groups" class="table fge-table">
    <thead class="fge-table__header">
      <tr>
        <th scope="col fge-table__col">Name</th>
        <th scope="col fge-table__col">Last Updated</th>
        <th scope="col fge-table__col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups$ | async">
        <td>
          <a tabindex="0" (click)="goToContentGroup(group.id)" class="fge-clickable">
            {{ group?.name }}
          </a>
        </td>
        <td>3 mins ago</td>
        <td>
          <ng-container [ngTemplateOutlet]="groupActions" [ngTemplateOutletContext]="{ group: group }"></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #gridView>
  <div class="card-deck fge-groups--content justify-content-center">
    <div class="card" *ngFor="let group of groups$ | async">
      <div class="card-body">
        <h5 class="card-title">
          <a tabindex="0" class="fge-clickable" (click)="goToContentGroup(group.id)">
            <span class="far fa-object-group pr-2"></span>
            {{ group?.name }}
          </a>
        </h5>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer text-right">
        <ng-container [ngTemplateOutlet]="groupActions" [ngTemplateOutletContext]="{ group: group }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #groupActions let-group="group">
  <a
    tabindex="0"
    class="btn btn-secondary bg-secondary btn-sm mr-2"
    (click)="groupFormModal.open(group)">
    <span class="far fa-edit"></span>
  </a>
  <a
    tabindex="0"
    class="btn btn-secondary bg-secondary btn-sm mr-2"
    (click)="goToContentGroup(group.id)">
    <span class="fas fa-info-circle"></span>
  </a>
  <a
    tabindex="0"
    class="btn btn-secondary bg-secondary btn-sm mr-2 disabled">
    <span class="far fa-trash-alt"></span>
  </a>
</ng-template>

<fge-group-form-modal #groupFormModal></fge-group-form-modal>
