<div class="fge-content-html-editor">
      <h4 class="my-3">
        <span *ngIf="loading$ | async" class="fas fa-circle-notch fa-spin"></span>
        <span *ngIf="currentContent && form">
        Content Editor: {{currentContent.name}}
        <span class="content-version"
        [ngClass]="{'edited': form.value[config.name] !== currentContent.value}"
        >

        </span>
      </span>
      </h4>
  <fge-dynamic-form
    [hidden]="loading$ | async"
    [fieldsConfig]="[config]"
    #form="fgeDynamicForm"
    (onsubmit)="handleSubmit($event)"
    (oncancel)="handleCancel()"
    [contentData]="currentContent"
  >
  </fge-dynamic-form>
</div>
<fge-modal-confirm [config]="configConfirmModal"
  #copyConfirmModal>
</fge-modal-confirm>
