<div class="fge-content-html-editor">
      <h4 class="my-3">
        <i *ngIf="loading$ | async" class="fas fa-circle-notch fa-spin"></i>
        Content Editor: {{currentContent.name}}
        <span class="content-version">
          <button type="button" class="btn btn-link" (click)="openVersionHistory()" *ngIf="currentContent">
            Version: {{ currentContent.currentVersion }}
          </button>
        </span>

      </h4>
  <fge-dynamic-form
    [hidden]="loading$ | async"
    [fieldsConfig]="[config]"
    #form="fgeDynamicForm"
    (onsubmit)="handleSubmit($event)"
    (oncancel)="handleCancel()"
  >
  </fge-dynamic-form>
</div>
<fge-modal-confirm [config]="configConfirmModal"
  #copyConfirmModal>
</fge-modal-confirm>
