<div class="fge-login__container">
  <div class="container">
    <div class="row">
      <h2 class="mt-5 ml-5 fge-login__header">admin portal</h2>
    </div>
    <div class="row fge-login__row">
      <div class="col-sm-12 col-md-7 col-md-offset-1 text-left pl-5 fge-login__col--title ">
        <h2 class="text-uppercase">welcome to the admin portal</h2>
        <p>This tool can be used to modify and customize variety of content and configuration for registered clients</p>
      </div>
      <div class="col align-self-center">
        <div class="fge-login__col--box">
          <form name="form" (ngSubmit)="login.form.valid && onSubmitClicked()" #login="ngForm" novalidate>
            <h4 class="pb-3">LOGIN</h4>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fas fa-user"></span>
                  </span>
                </div>
                <input
                  type="text"
                  autofocus
                  class="form-control"
                  name="username"
                  placeholder="Username"
                  aria-label="Username"
                  [(ngModel)]="userCredentials.username"
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': login.submitted && username.invalid }"
                  [disabled]="loading$ | async"
                  required
                />
                <div *ngIf="login.submitted && username.invalid" class="invalid-feedback">
                    <div *ngIf="username.errors.required"><span class="fas fa-exclamation-circle pr-1"></span>Username is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fas fa-unlock"></span>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Password"
                  [(ngModel)]="userCredentials.password"
                  #password="ngModel"
                  [ngClass]="{ 'is-invalid': login.submitted && password.invalid }"
                  [disabled]="loading$ | async"
                  required
                />
                <div *ngIf="login.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required"><span class="fas fa-exclamation-circle pr-1"></span>Password is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="login.submitted && !password.invalid && !username.invalid && hasLoginErrors" class="fge-login__div--auth-error">
                <span class="fas fa-exclamation-circle pr-1"></span>
                Incorrect username or password provided. If this problem continues, please contact to your system administrator.
              </div>
            </div>
            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block" [disabled]="loading$ | async"><span class="px-2">LOGIN</span><span *ngIf="loading$ | async" class="fas fa-circle-notch fa-spin"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
