<div class="fge-dynamic-field form-input"  [formGroup]="group">
  <label>{{ config.label }}</label>
  <div class="btn-group btn-group-toggle"
    ngbRadioGroup name="radioBasic" 
    [formControlName]="config?.name">
    <label ngbButtonLabel class="fge-dynamic-form__button"
      [ngClass]="{'btn-primary bg-primary': currentControl.value === 'true' || currentControl.value === true, 'btn-secondary': currentControl.value === 'false' || currentControl.value === false}">
      <input ngbButton type="radio" value="true"> {{ config?.options[0] }}
    </label>
    <label ngbButtonLabel class="fge-dynamic-form__button"
      [ngClass]="{'btn-primary bg-primary': currentControl.value === 'false' || currentControl.value === false, 'btn-secondary': currentControl.value === 'true' || currentControl.value === true}">
      <input ngbButton type="radio" value="false"> {{ config?.options[1] }}
    </label>
  </div>
</div>