<div class="fge-dynamic-field form-input"  [formGroup]="group">
  <label>{{ config.label }}</label>
  <div class="btn-group btn-group-toggle"
    ngbRadioGroup name="radioBasic" 
    [formControlName]="config?.name">
    <label ngbButtonLabel
      [ngClass]="{'btn-primary': currentControl.value === 'true', 'btn-secondary': currentControl.value === 'false'}">
      <input ngbButton type="radio" value="true"> {{ config?.value[0] }}
    </label>
    <label ngbButtonLabel
      [ngClass]="{'btn-primary': currentControl.value === 'false', 'btn-secondary': currentControl.value === 'true'}">
      <input ngbButton type="radio" value="false"> {{ config?.value[1] }}
    </label>
  </div>
</div>