<div class="row fge-content-inline-editor">
  <div class="col-9">
    <div class="row">
      <label class="col-3 col-form-label" title="{{contentData.name}}">{{contentData.name}}</label>
      <e2e-content-editor
        class="col-9"
        [content]="contentData"
        [config]="e2eContentEditorConfig"
        [save]="save"
        [setValue]="setValue"
        (onSave)="onSave($event)">
      </e2e-content-editor>
    </div>
  </div>
  <div class="col-1 content-version">
  <button type="button" class="btn btn-link" (click)="openVersionHistory()">
    <span *ngIf="contentData.version == 0">Inherited</span>
    <span *ngIf="contentData.version != 0">v{{contentData.version}}</span>
  </button>
  </div>

  <div class="col-2 pt-1">
    <button type="button" *ngIf="(contentData._links | showLink).length > 0"
      class="btn btn-link" placement="right"
      [autoClose]="true" [ngbPopover]="popContent">
      <span class="fas fa-comment-dots fa-lg text-secondary"></span>
    </button>
  </div>
  <ng-template #popContent>
    <div *ngFor="let link of contentData._links | showLink; last as isLast">
      <button class="btn-sm dropdown-item fge-clickable" type="button"
        (click)="handleActions(link)">
        {{link.rel === 'updateContentDescription' ? contentData.description : link.name}}
      </button>
      <div class="dropdown-divider" *ngIf="!isLast"></div>
    </div>
  </ng-template>
</div>
<fge-modal-confirm [config]="configConfirmModal"
  (onsubmit)="onSubmitConfirmModal()"
  #confirmModal>
</fge-modal-confirm>
<fge-modal-confirm [config]="configConfirmModal"
  #copyConfirmModal>
</fge-modal-confirm>
