<div class="row fge-content-inline-editor">
  <div class="col-10">
    <fge-dynamic-inline-form
      [config]="config"
      #form="fgeDynamicInlineForm"
      (onsubmit)="handleSubmit($event)">
    </fge-dynamic-inline-form>
  </div>
  <div class="col-2 pt-1">
    <button type="button" *ngIf="linkActions?.length > 0"
      class="btn btn-link" placement="right"
      [autoClose]="true" [ngbPopover]="popContent">
      <i class="fas fa-comment-dots fa-lg text-secondary"></i>
    </button>
  </div>
  <ng-template #popContent>
    <div *ngFor="let link of linkActions; last as isLast">
      <button class="btn-sm dropdown-item fge-clickable" type="button"
        (click)="handleActions(link)">
        {{link.rel === 'updateContentDescription' ? contentData.description : link.name}}
      </button>
      <div class="dropdown-divider" *ngIf="!isLast"></div>
    </div>
  </ng-template>
</div>
<fge-modal-confirm [config]="configConfirmModal"
  (onsubmit)="onSubmitConfirmModal()"
  #confirmModal>
</fge-modal-confirm>
