<div class="fge-group--title row">
  <h4 class="fge-group--title-divider my-2 col-10">
    <i *ngIf="rolesState?.loading" class="fas fa-circle-notch fa-spin"></i><span class="pl-2">Role Management</span>
  </h4>
  <div class="col text-right align-self-center">
    <button
      type="button"
      class="btn btn-sm btn-secondary bg-secondary"
      (click)="roleFormModal.open()">
      Add Role
      <i class="fas fa-user-plus pl-1"></i>
    </button>
  </div>
</div>

<div class="fge-table table-hover">
  <div class="row m-0 fge-table__header">
    <div class="col fge-table__col">
      Role Name
    </div>
    <div class="col-1 fge-table__col fge-table--actions-3">
      Actions
    </div>
  </div>
  <ng-container *ngFor="let role of rolesState?.items; trackBy: trackByUserId" >
    <div class="row fge-table__row m-0 fge-clickable" [ngClass]="{'fge-user--role-selected': rolesState?.selected?.id === role.id}" (click)="setSelectedRole(role)">
      <div class="col fge-table__col" title="{{ role.name }}">
        <span class="m-auto">
            {{ role.name }}
        </span>
      </div>
      <div class="col-1 fge-table__col fge-table--actions-3">
        <ng-container [ngTemplateOutlet]="roleActions" [ngTemplateOutletContext]="{ role: role }"></ng-container>
      </div>
    </div>
    <div *ngIf="rolesState?.selected?.id === role.id" class="fge-user--role-details row">
      <span class="w-100 text-center" *ngIf="rolesState?.selected?.loading">
        <i class="fas fa-lg fa-circle-notch fa-spin"></i>
      </span>
      <ng-container [ngSwitch]="selectedContainer" *ngIf="!rolesState?.selected?.loading">
        <fge-role-permissions class="w-100" *ngSwitchCase="'permissions'" [permissions]="rolesState?.selected?.permissions"></fge-role-permissions>
        <fge-role-users class="w-100" *ngSwitchCase="'users'" [users]="rolesState?.selected?.users"></fge-role-users>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #roleActions let-role="role">
  <div>
    <button
      type="button"
      class="btn btn-sm btn-secondary bg-secondary"
      [ngClass]="{ 'active': rolesState?.selected?.id === id && selectedContainer === 'permissions' }"
      (click)="showContainerFor($event, role, 'permissions')">
      <i class="fas fa-cog"></i>
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary bg-secondary ml-2"
      [ngClass]="{ 'active': rolesState?.selected?.id === id && selectedContainer === 'users' }"
      (click)="showContainerFor($event, role, 'users')">
      <i class="fas fa-user"></i>
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary bg-secondary ml-2"
      (click)="deleteConfirmation($event, deleteRoleModal)">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</ng-template>

<fge-modal-confirm
  (onsubmit)="onDeleteRole($event, deleteRoleModal)"
  #deleteRoleModal>
</fge-modal-confirm>

<fge-role-form-modal #roleFormModal></fge-role-form-modal>