<div
  #scrollContainer
  class="fge-tree--container"
  [ngClass]="{'fge-tree--container-opened': opened, 'fge-tree--container-closed': !opened}"
  (click)="clickedInside($event)"
  (scroll)="onScrollContent($event)">
  <p class="h4 p-3 text-center">Application Hierarchy</p>
  <a
    title="Go to top"
    class="fge-tree__btn--floating fge-clickable"
    [ngStyle]="{'right':scrollContainerRef?.nativeElement?.offsetLeft + 'px'}"
    (click)="scrollToTop($event)">
    <i
      *ngIf="enableScrollTopBtn"
      class="fas fa-2x fa-chevron-circle-up text-primary"
    ></i>
  </a>
  <ul class="fge-tree">
    <ng-container
      [ngTemplateOutlet]="treeviewItem"
      [ngTemplateOutletContext]="{item: treeData}"
    ></ng-container>
  </ul>
</div>

<ng-template #treeviewItem let-item="item">
  <li>
    <a [ngClass]="{'fge-clickable': !item?.isGroup, 'fge-tree__a--group': item?.isGroup}">
      <i
        *ngIf="!item?.loading && !isEmptyItem(item)"
        class="fge-clickable fas"
        [ngClass]="{'fa-plus-circle': item?.collapsed, 'fa-minus-circle': !item?.collapsed}"
        (click)="toggleCollapse(item, $event)"
      ></i>
      <i
        *ngIf="!item?.loading && isEmptyItem(item)"
        class="fas fa-dot-circle"
      ></i>
      <i
        *ngIf="item?.loading"
        class="fas fa-circle-notch fa-spin"
      ></i>
      <span ngbTooltip="Go to {{item?.name}}" [disableTooltip]="item?.isGroup || item?.id === currentApplicationId" placement="right">
        <a
          (click)="goToApplication(item)"
          [ngClass]="{'text-primary font-weight-bold font-italic': !item?.isGroup && item?.id === currentApplicationId, 'font-weight-light': isEmptyItem(item)}">
          {{item?.name}}
          <span *ngIf="item?.value && item?.value >= 0">({{item?.value}})</span>
        </a>
      </span>
    </a>
    <ul *ngIf="!item?.collapsed">
      <ng-container
        *ngFor="let currentChild of item?.childrenData"
        [ngTemplateOutlet]="treeviewItem"
        [ngTemplateOutletContext]="{item: currentChild}"
      ></ng-container>
    </ul>
  </li>
</ng-template>
