<div #overlayTemplate [ngClass]="{'fge-tree--overlay': opened}"></div>
<div
  class="fge-tree--container"
  [ngClass]="{'fge-tree--container-opened': opened, 'fge-tree--container-closed': !opened}"
  (click)="clickedInside($event)">
  <p class="h4 p-3 text-center fge-tree--container-header">Application Hierarchy</p>
  <a
    title="Go to top"
    *ngIf="opened && enableScrollTopBtn"
    class="fge-tree__btn--floating fge-clickable"
    [ngStyle]="{'right':scrollContainerRef?.nativeElement?.offsetRight + 'px'}"
    (click)="scrollToTop($event)">
    <i class="fas fa-2x fa-chevron-circle-up text-primary"></i>
  </a>
  <div class="row fge-tree--row">
    <div class="col-7">
      <ul #scrollContainer class="fge-tree" 
      (scroll)="onScrollContent($event)">
        <ng-container
          [ngTemplateOutlet]="treeviewItem"
          [ngTemplateOutletContext]="{item: treeData}"
        ></ng-container>
      </ul>
    </div>
    <div class="col fge-tree--branding pt-3">
      <ng-container
        [ngTemplateOutlet]="branding"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #treeviewItem let-item="item">
  <li>
    <a [ngClass]="{'fge-clickable': !item?.isGroup, 'fge-tree__a--group': item?.isGroup}">
      <i
        *ngIf="!item?.loading && !isEmptyItem(item)"
        class="fge-clickable fas"
        [ngClass]="{'fa-plus-circle': item?.collapsed, 'fa-minus-circle': !item?.collapsed}"
        (click)="toggleCollapse(item, $event)"
      ></i>
      <i
        *ngIf="!item?.loading && isEmptyItem(item)"
        class="fas fa-dot-circle"
      ></i>
      <i
        *ngIf="item?.loading"
        class="fas fa-circle-notch fa-spin"
      ></i>
      <span
        class="fge-tree__span--title"
        ngbTooltip="Go to {{item?.name}}"
        [disableTooltip]="item?.isGroup || item?.id === currentApplicationId"
        placement="bottom">
        <a
          (click)="goToApplication(item)"
          [ngClass]="{'text-primary font-weight-bold font-italic': !item?.isGroup && item?.id === currentApplicationId,
            'font-weight-light': isEmptyItem(item),
            'fge-tree--selected': !item?.isGroup && item?.id === previewId}">
          {{item?.name}}
          <span *ngIf="item?.value && item?.value >= 0">({{item?.value}})</span>
        </a>
      </span>
      <div
        class="fge-tree--options"
        [ngClass]="{'fge-tree--options-visible': previewId === item?.id}"
      >
        <i
          *ngIf="!item?.isGroup"
          title="View Application Branding"
          (click)="onMouseoverItem(item, $event)"
          class="fas fa-info-circle"></i>
      </div>
      <div class="fge-tree--options float-right">
        <i
          title="New Application"
          *ngIf="hasAction(item,'createApplication')"
          (click)="applicationForm.open('createApplication', item)"
          class="fas fa-plus-square px-1 fge-clickable"></i>
        <i
          title="New Application Group"
          *ngIf="hasAction(item,'createApplicationGroup')"
          (click)="applicationGroupForm.open('createApplicationGroup', item)"
          class="fas fa-folder-plus px-1 fge-clickable"></i>
        <i
          title="Edit Application"
          *ngIf="hasAction(item,'updateApplication') && !item?.isGroup"
          (click)="applicationForm.open('updateApplication', item, true)"
          class="fas fa-edit px-1 fge-clickable"></i>
        <i
          title="Edit Application Group"
          *ngIf="hasAction(item,'updateApplicationGroup') && item?.isGroup"
          (click)="applicationGroupForm.open('updateApplicationGroup', item, true)"
          class="fas fa-edit px-1 fge-clickable"></i>
      </div>
    </a>
    <ul *ngIf="!item?.collapsed">
      <ng-container
        *ngFor="let currentChild of item?.childrenData"
        [ngTemplateOutlet]="treeviewItem"
        [ngTemplateOutletContext]="{item: currentChild}"
      ></ng-container>
    </ul>
  </li>
</ng-template>

<ng-template #branding>
  <h5 class="text-center fge-tree--branding-header mb-3">Branding <i *ngIf="previewLoading" class="fas fa-circle-notch fa-spin"></i></h5>
  <div class="row text-left">
    <label class="col-5"> Color Scheme:</label>
    <div class="col d-flex">
      <span class="d-flex pr-2">
        <div class="rounded mr-1 fge-tree--branding-color-box" [style.backgroundColor]="preview?.primaryColor?.value"></div>
        <span>P</span>
      </span>
      <span class="d-flex">
        <div class="rounded mr-1 fge-tree--branding-color-box" [style.backgroundColor]="preview?.secondaryColor?.value"></div>
        <span>S</span>
        </span>
    </div>
  </div>
  <div class="row text-left">
    <label class="col-5"> Program Name:</label>
    <div class="col" [ngClass]="{'fge-tree--branding-loading-col': previewLoading}">
      <span *ngIf="!previewLoading"> {{preview?.programName?.value}} </span>
    </div>
  </div>
  <div class="row text-left">
    <label class="col-5"> Primary Logo:</label>
    <div class="col" [ngClass]="{'fge-tree--branding-loading-col': previewLoading}">
      <img *ngIf="!previewLoading && preview?.primaryLogo?.value" class="fge-tree--branding-img my-1" [src]="preview?.primaryLogo?.value"/>
    </div>
  </div>
  <div class="row text-left">
    <label class="col-5"> Secondary Logo:</label>
    <div class="col" [ngClass]="{'fge-tree--branding-loading-col': previewLoading}">
      <img *ngIf="!previewLoading && preview?.secondaryLogo?.value" class="fge-tree--branding-img my-1" [src]="preview?.secondaryLogo?.value"/>
    </div>
  </div>
  <div class="row text-left">
    <label class="col-5"> Site URL:</label>
    <div class="col" [ngClass]="{'fge-tree--branding-loading-col': previewLoading}">
      {{preview?.siteUrl?.value}}
    </div>
  </div>
</ng-template>

<fge-application-form-modal #applicationForm (onsubmit)="onSubmitApplicationForm($event)"></fge-application-form-modal>
<fge-application-group-form-modal #applicationGroupForm (onsubmit)="onSubmitApplicationGroupForm($event)"></fge-application-group-form-modal>