<div 
  class="fge-dynamic-field form-input" 
  [formGroup]="group">
  <label>{{ config.label }}</label>
  <div class="col pr-0">
    <input
      type="file"
      class="form-control fge-dynamic-form__input"
      accept=".png, .jpg, .jpeg, .svg, .gif"
      (change)="onFileChange($event)"
      [ngClass]="{ 'is-invalid': hasError() }"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.name">
    <div class="invalid-feedback">
      <div *ngFor="let validator of getObjectKeys(config?.validation)">
        <span *ngIf="hasErrorFor(validator)">
          {{config?.validation[validator].errorMsg}}
        </span>
      </div>
    </div>
    <a *ngIf="config.value" [href]="config.src" target="_blank">
      <img class="thumb" [src]="config.src">
    </a>
  </div>
</div>