/* Base variables */
$fge-font-family: 'Lato', sans-serif;

/* Colors */
$color-bg-login: blue;

$color-text-white: white;
$color-text-black: #000000;

/* Borders */
$border-box-light-grey: 1px solid #ececec;