.fge-clickable {
  cursor: pointer;
  pointer-events: all;
}

.fge-disabled {
  pointer-events: none;
}

.fge-border-left {
  border-left: 1px solid lightgrey;
}

.fge-border-none {
  border: none !important;
}

.fge-thumb {
  max-width: 100%;
  max-height: 70px;
}

.fge-custom-icon-width {
  max-width: 15px;
}
