.fge-clickable {
  cursor: pointer;
  pointer-events: all;
}

.fge-disabled {
  pointer-events: none;
}

.fge-border-left {
  border-left: 1px solid lightgrey;
}

.fge-border-none {
  border: none !important;
}

.fge-border-box {
  border: $border-box-light-grey;
  padding: 0.25rem;
}

.fge-thumb {
  max-width: 100%;
  max-height: 70px;
}

.fge-custom-icon-width {
  max-width: 15px;
}

.fge-table__col {
  min-height: 1px;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.fge-table__header {
  color: #495057;
  background-color: #e9ecef;
  font-weight: bold;
  vertical-align: bottom;
  border-color: #dee2e6;
  border-bottom: 2px solid #dee2e6;
}
