/* Mixins */
@mixin fge-line-clamp($numLines : 1, $lineHeight: 1.412) {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;
  max-height: $numLines * $lineHeight + unquote('em');
}

@mixin fge-multiline-ellipsis($font-size: 14, $line-height: 1.4, $lines-to-cut: 1) {
  display: block;
  /* autoprefixer: off */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-cut;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-cut;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}