/* Bootstrap overwrites */
$font-size-base: 0.875rem;
$primary: #035587;

.dropdown-menu-right {
  right: 0px;
  left: auto !important;
}

.navbar {
  padding: 0 .5rem !important;
}

//Modal Forms
.modal-header {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.modal-body {
  padding: 10px 30px !important;
}

.modal-footer {
  padding-top: 0px !important;
  border-top: none !important;
}

.modal-title {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  text-align: center;
  padding: 1rem !important;
}

.modal-content-form .modal-dialog {
  max-width: 600px;
}

.notifier__container {
  ul {
    margin-bottom: auto;
  }
}
