/* Bootstrap overwrites */
$font-size-base: 0.875rem;
$primary: #035587;

.dropdown-menu-right {
  right: 0px;
  left: auto !important;
}

.navbar {
  padding: 0 .5rem !important;
}

ngb-pagination {
  .pagination {
    .page-link {
      font-size: 14px;
    }
  }
}

//Modal Forms
.modal-header {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.modal-body {
  padding: 10px 30px !important;
}

.modal-footer {
  padding-top: 0px !important;
  border-top: none !important;
}

.modal-title {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  text-align: center;
  padding: 1rem !important;
}

.modal-content-form .modal-dialog {
  max-width: 600px;
}

/* Modal summernote HTML editor overwrites */
.note-modal {
  font-family: $fge-font-family;
  .note-modal-content {
    @media (min-width: 768px) {
      margin: 28px auto;
    }
    .note-modal-header {
      @extend .modal-header;
      .note-modal-title {
        @extend .modal-title;
        font-size: 1.3125rem;;
        margin-right: 2rem;
      }
      .close {
        font-size: 0.9rem;
      }
    }
    .note-modal-body {
      @extend .modal-body;
      .note-form-group {
        padding-bottom: 0;
      }
      .note-form-label {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0px;
        padding: 0px;
        color: $color-text-black;
      }
      .note-input {
        @extend .fge-dynamic-form__input;
      }
    }
    .note-modal-footer {
      @extend .modal-footer;
      .note-btn {
        @extend .fge-dynamic-form__button;
        height: auto !important;
      }
    }
  }
}

.notifier__container {
  ul {
    margin-bottom: auto;
  }
}
