@mixin fge-table-column() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1px;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
}

.fge-table {
  &--actions {
    min-width: 100px;
  }
  
  &__row {
    max-height: 3.5rem;
  }
  
  &__col {
    @include fge-table-column();
  }
  
  &__col--app-path {
    @include fge-table-column();
    white-space: normal;
    @include fge-line-clamp(2, 2.1);
  }
  
  &__header {
    color: #495057;
    background-color: #e9ecef;
    font-weight: bold;
    border-color: #dee2e6;
    border-bottom: 2px solid #dee2e6;
  }
}