@mixin fge-table-column() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1px;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
}

.fge-table-checkbox {
  margin-right: -90px;
}

.fge-table {
  font-size: 13px;

  &--actions {
    min-width: 100px;
  }

  &__row {
    max-height: 3.1rem;
  }

  &__col {
    @include fge-table-column();
  }

  &__col--app-path {
    @include fge-table-column();
    white-space: normal;
    span {
      @include fge-multiline-ellipsis(13px, 1.4, 2);
    }
  }

  &__header {
    color: #495057;
    background-color: #e9ecef;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
  }
}

.fge-table-report-col{
  overflow: initial;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1px;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
}
