
@media screen and (max-width: 992px) {
.admin-portal-title {
    padding: 30px 0px 0px 13px;
}
}


@media screen and (max-width: 767px) {

  
  
  p{
    font-size:12px;
  }

  .login-heading {
               text-align:center !important;
  }

  .login-form {
               margin-top:10px;
  }
  .admin-portal-title{
               text-align:center;
  }

  .nofloat{
           float:none !important;    
  }

  .login-heading {
           text-transform: none;
           font-weight:200;
           letter-spacing: -1px;         
  }

  .login-text{
           letter-spacing: 0px;  
           text-align:center;     
  }

  .admin-portal-title{
               padding: 10px 0px 0px 0px;
               text-align:center;
  }

  .btnClass {
               width:100%;
               margin-right: 10px;
               margin-left: 10px;
  }
}



/* ----------------------- */

@media screen and (max-width: 992px) {
.admin-portal-title {
    padding: 30px 0px 0px 13px;
}
.login-right{
    border-left: none;
    padding:0px;
}

}


@media screen and (max-width: 768px) {
  
  .login-heading {
               text-align:center !important;
  }

  .login-form {
               margin-top:10px;
  }
  .admin-portal-title{
               text-align:center;
  }

  .nofloat{
           float:none !important;    
  }

  .login-heading {
           text-transform: none;
           font-weight:200;
           letter-spacing: -1px;         
  }

  .login-text{
           letter-spacing: 0px;       
  }

  .admin-portal-title{
               padding: 10px 0px 0px 0px;
               text-align:center;
  }

  .btn-primary {
               width:100%;
              margin-right:10px;
               margin-left: 10px;
             
  }

.btn-primary-login{
   margin-right:0px !important;
   margin-left: 0px !important;
   margin-bottom:20px;
}
  .login-left-section{
    padding:0px;
}

  label {
    font-size:13px;
    font-family: Droid;
    }

    .customize-help-text {
    padding-left: 0px;
}

.customize-right-sec{
 padding:10px;
}

.customize-link
{
  font-size:9px;
}

.btn-login{
    margin-left:0px
  }

  .generic-content{
      padding:0px;
  }

}


@media screen and (max-width: 1070px) and (min-width: 992px) {

label {
    padding: 2px !important;
}

}



